*{margin:0;padding:0}
.clear{display:table;content:"";clear:both}
body{font-size:16px;font-family:'Open Sans',sans-serif;color:#000;overflow-x:hidden!important}
.center{max-width:1400px;margin:0 auto}
header{border-bottom:1px solid #f9f9f9;position:fixed;width:100%;background:#fff;z-index:10000;top:0;-webkit-box-shadow:0 0 20px rgba(0,0,0,.1),0 0 3px rgba(0,0,0,.1);-moz-box-shadow:0 0 20px rgba(0,0,0,.1),0 0 3px rgba(0,0,0,.1);box-shadow:0 0 20px rgba(0,0,0,.1),0 0 3px rgba(0,0,0,.1)}
.header-logo{float:left;width:100px}
.header-logo img{width:100%}
.header-nav{float:right;margin-top:8px;width:calc(100% - 140px);margin-bottom:8px}
main#page-table{min-height:645px}
div#mobile-menu{display:none}
#cabinet-page{background:#f8fafb}
nav.cabinet-header-nav{display:inline-block;vertical-align:top;margin-top:40px;margin-left:60px}
.cabinet-person{float:right}
.cabinet-person-se::before{content:"";width:1px;height:43px;background:#e0e0e0;display:inline-block;vertical-align:middle;margin-left:20px;margin-right:20px}
.cabinet-person-se::after{content:"";width:1px;height:43px;background:#e0e0e0;display:inline-block;vertical-align:middle;margin-left:20px;margin-right:20px}
.cabinet-person-icon{display:inline-block;vertical-align:top;margin-top:21px;margin-right:15px}
.cabinet-person-se{display:inline-block;vertical-align:top}
.cabinet-data{display:inline-block;vertical-align:middle;padding:15px 0}
.cabinet-person-icon img{width:25px}
.cabinet-main-nav li{list-style:none;display:inline-block}
.cabinet-main-nav li a{color:#2b2b2b;font-weight:600;line-height:normal;margin:0 30px 0 0;position:relative;text-decoration:none;max-width:100%;white-space:nowrap;transition:.25s;text-transform:uppercase}
.cabinet-main-nav li a::after{position:absolute;top:100%;left:0;width:100%;height:1px;background:#00b1dd;content:'';opacity:0;-webkit-transition:height 0.3s,opacity 0.3s,-webkit-transform .3s;-moz-transition:height 0.3s,opacity 0.3s,-moz-transform .3s;transition:height 0.3s,opacity 0.3s,transform .3s;-webkit-transform:translateY(-10px);-moz-transform:translateY(-10px);transform:translateY(-10px)}
.cabinet-main-nav li a:hover{text-decoration:none}
.cabinet-main-nav li a:hover::after{height:3px;opacity:1;-webkit-transform:translateY(0px);-moz-transform:translateY(0px);transform:translateY(0px)}
.cabinet-name{font-weight:600;font-size:14px;color:#000;text-decoration:underline}
.cabinet-account-number{font-size:14px;margin:5px 0;color:#000;font-weight:600}
.cabinet-exit a{background:#9c9c9c;padding:5px 10px;color:#fff;font-size:14px;border-radius:5px;display:inline-block;transition:.25s}
.cabinet-exit a:hover{color:#fff!important;text-decoration:none;background:#5f5f5f;transition:.25s}
.cabinet-person a:hover{text-decoration:none}
.cabinet-exit{text-align:right;margin-top:32px;display:inline-block;vertical-align: top;}
.cabinet-header-logo{display:inline-block;width:100px;margin:0 0 5px}
.cabinet-header-logo img{width:100%}
.cabinet-person-cash-plus img{height:30px;margin-top:6px}
.cabinet-person-cash-plus{display:inline-block;text-align:center;padding:15px 0}
.cabinet-person-ball-plus{display:inline-block;vertical-align:top;padding:15px 0;margin-right:20px}
.cabiinet-ball-num{margin-top:10px}
section#balans-section{margin-top:100px;padding:30px 0 50px}
.balans-section-field{padding:40px;background:#fff;box-shadow:0 4px 10px #efefef}
.balans-section-field h2{text-align:center;margin:0;text-transform:uppercase;font-weight:200}
.balans-section-block-date{text-align:center;color:#636363;margin-top:5px}
.balans-section-block-money{text-align:center;font-size:45px;margin:10px 0;font-weight:600;color:#000}
.balans-section-block-money::after{content:"";width:80%;display:block;height:1px;background:#d0d0d0;margin:20px auto}
.balans-section-block-history{text-align:center;color:#00b1dd}
.balans-section-block-history img{height:20px;vertical-align:middle;margin-right:8px}
.balans-section-block-history a{vertical-align:middle}
.balans-section-pay input{background-color:#fff;border-radius:5px;border:1px solid #e4e4e4;display:inline-block;vertical-align:middle;line-height:51px;font-size:21px;width:220px;padding:0 10px}
.balans-section-pay{text-align:center;margin-top:30px}
a{transition:.25s}
a:hover{color:#000!important;transition:.25s}
.balans-section-pay button{margin-left:20px;line-height:47px;font-size:14px;padding:0 20px;background:#00b1dd;border:none;color:#fff;border-radius:5px;transition:.25s}
.balans-section-pay button:hover{background:#09819e;transition:.25s}
.balans-section-pay input:focus{border:1px solid #00b1dd;outline:none}
section#cabinet-page-my-tarif{background:#fff;padding:40px}
section#cabinet-page-my-tarif h2{margin:0;display:inline-block;vertical-align:middle;margin-left:15px;text-transform:uppercase;font-weight:100}
.cabinet-page-my-tarif-tuning img{height:30px}
.cabinet-page-my-tarif-tuning{display:inline-block;margin-left:25px;vertical-align:middle;transition:.25s;transform:scale(1)}
.cabinet-page-my-tarif-tuning:hover{transition:.25s;transform:scale(1.1)}
.cabinet-page-my-tarif-block{margin-top:30px}
.cabinet-page-my-tarif-list{padding:40px;border:1px solid #afecfb;margin-top:15px}
.cabinet-page-my-tarif-title{font-weight:700;font-size:20px;margin-bottom:20px;text-transform:uppercase}
.cabinet-page-my-tarif-speed{font-size:20px;font-weight:400}
.cabinet-page-my-tarif-speed span{font-size:30px;font-weight:700;color:#00b1dd}
.cabinet-page-my-tarif-money{font-size:20px;font-weight:400}
.cabinet-page-my-tarif-money span{font-size:30px;font-weight:700}
.cabinet-page-my-tarif-href a{background:#00b1dd;width:200px;text-align:center;margin-top:30px;border-radius:5px;padding:10px 0;display:block;color:#fff;transition:.25s}
.cabinet-page-my-tarif-href a:hover{background:#09819e;transition:.25s;color:#fff!important;text-decoration:none}
.balans-section-block:nth-child(1){padding-left:0}
.balans-section-block:nth-child(2){padding-right:0}
.cabinet-page-akcii-block{margin-bottom:25px;background-size:cover!important;background-position:center!important;position:relative;overflow:hidden}
.cabinet-page-akcii-back{position:absolute;background:#000;top:0;bottom:0;left:0;right:0;opacity:0;transition:.25s}
.cabinet-page-akcii-block:hover{transform:translateY(-10px);transition:.25s}
.cabinet-page-akcii-button:hover{background:#09819e;transition:.25s}
.cabinet-page-akcii-img img{width:100%}
.cabinet-page-akcii-img{position:relative}
.cabinet-page-akcii-content{z-index:1;color:#fff;position:absolute;padding-bottom:55px;top:0;bottom:0;right:0;left:0}
.cabinet-page-akcii-title{font-size:27px;line-height:34px}
.cabinet-page-akcii-description{font-size:16px;padding:20px 0}
.cabinet-page-akcii-button{background:#00b1dd;color:#fff;padding:10px 0;display:block;width:150px;border-radius:5px;text-align:center;cursor:pointer;margin-top:10px}
section#cabinet-page-akcii h2{margin:20px 0 40px;text-transform:uppercase;font-weight:200}
section#cabinet-page-akcii .col-md-6:nth-child(1){padding-left:0;padding-right:30px}
section#cabinet-page-akcii .col-md-6:nth-child(2){padding-right:0;border-left:1px solid #adc0ca;padding-left:30px}
section#cabinet-page-akcii{padding:20px 0}
.cabinet-page-akcii-button{position:absolute;bottom:25px;left:25px}
.cabinet-person-cash-plus img{border:2px solid #828282;border-radius:50%}
main#page-profil{margin-top:130px}
section#page-profil-info{background:#fff;padding:40px;display:block;position:relative}
section#page-profil-info h1{margin-top:0;margin-bottom:15px;text-transform:uppercase;font-weight:200}
.page-profil-info-block{margin-top:40px}
.page-profil-info-image{display:inline-block}
.page-profil-info-text{display:inline-block;vertical-align:top;margin-left:25px;padding-left:25px;border-left:1px solid #d2d2d2}
.page-profil-info-name{font-weight:600;font-size:18px;margin-bottom:10px}
.page-profil-info-personal-account span{font-weight:600;margin-right:5px;color:#797979}
.page-profil-info-number-contact span{font-weight:600;margin-right:5px;color:#797979}
.page-profil-info-address span{font-weight:600;margin-right:5px;color:#797979}
.page-profil-info-blockirovka{display:block;vertical-align:middle;text-align:left;margin-top:0;margin-bottom:35px;text-transform:uppercase;font-weight:200;font-size:36px}
.page-profil-info-blockirovka img{display:inline-block;vertical-align:middle;margin-right:7px}
.page-profil-info-personal-account{margin-bottom:5px}
.page-profil-info-number-contact{margin-bottom:5px}
table.page-profil-table td{border:1px solid;padding:10px 20px}
tr.page-profil-table-title{background:#e9f2f7}
section#page-profil-account{background:#fff;margin-top:40px;padding:40px;text-align:center}
table.page-profil-table{margin:auto;width:100%}
.block-account{background:#ff1225;padding:10px 0;display:block;color:#fff;border-radius:5px;cursor:pointer;transition:.25s}
.block-account:hover{background:#d60415;transition:.25s}
.unlock-account{background:#1d8a00;padding:10px 0;display:block;color:#fff;border-radius:5px;cursor:pointer;transition:.25s}
.unlock-account:hover{background:#20730a;transition:.25s}
.connect-account{background:#00b1dd;padding:10px 0;display:block;color:#fff;border-radius:5px;cursor:pointer;transition:.25s}
.connect-account:hover{background:#09819e;transition:.25s}
section#change-password{background:#fff;padding:40px;margin-top:40px;margin-bottom:40px}
section#change-password h2{text-transform:uppercase;font-weight:200;margin-top:0;margin-bottom:30px}
form#change-password-form span{width:100%;display:block;margin:20px 0}
form#change-password-form label{display:block;margin-bottom:10px}
span.change-password-label-block li{display:block}
form#change-password-form label{display:block;margin-bottom:10px}
form#change-password-form input{font-size:16px;padding:10px 20px;border:1px solid #888;border-radius:5px;width:350px}
.change-password-button input{background:#00b1dd;color:#fff;border:none!important;margin-bottom:20px;margin-top:20px}
.change-password-button input:hover{background:#09819e;transition:.25s}
tr.page-profil-table-title img{height:20px;vertical-align:middle;margin-right:10px}
tr.page-profil-table-title td{font-weight:600}
main#change-tarif-main{margin-top:150px}
.tarif-card-block{padding:40px;box-shadow:0 10px 30px #e8e8e8;background:#fff;position:relative;overflow:hidden;margin-bottom:50px}
.tarif-card-back{position:absolute;bottom:-10px;left:0;width:200px;z-index:1}
section#tarif-card-section h1{font-size:52px;text-transform:uppercase;font-weight:200;margin-bottom:20px}
.tarif-card-list-block{padding-top:40px}
.tarif-card-description{padding:20px 0;color:#636363;padding-left:0!important}
.tarif-card-speed{text-align:center;padding-top:10px;font-size:20px}
.tarif-card-speed span{font-size:40px;font-weight:700;color:#00b1dd;vertical-align:middle;margin-right:10px}
.tarif-card-price{text-align:center;padding-top:10px;font-size:20px}
.tarif-card-price span{font-size:40px;font-weight:700;color:#1d1d1d;vertical-align:middle;margin-right:10px}
.tarif-card-button{text-align:right}
.tarif-card-button a{display:inline-block;background:#00b1dd;color:#fff;padding:10px 25px;border-radius:5px}
.tarif-card-button a:hover{color:#fff!important;background:#09819e;transition:.25s;text-decoration:none}
.tarif-card-back svg{fill:#e7f4f7}
.tarif-card-content{position:relative;z-index:2}
section#tarif-card-section{padding-bottom:40px}
#change-tarif-page{background:#f8fafb}
.cabinet-account-number span{display:block;font-size:12px;color:#a0a0a0}
main#enter-registration{height:100vh;background:url("../545468-pjw04t-258.jpg");position:relative}
section#enter-ragistration-section{position:absolute;background:#00000066;top:0;bottom:0;left:0;right:0}
header#enter-registration-header{position:absolute;background:transparent;border:none;-moz-box-shadow:none;box-shadow:none;-webkit-box-shadow:none}
header#enter-registration-header img{height:115px}
.enter-ragistration-block{position:absolute;top:30%;background:#fff;width:500px;padding:40px;box-shadow:0 0 8px rgba(0,0,0,0.25)}
.enter-ragistration-form-label{width:70px;display:inline-block;vertical-align:middle;font-size:14px;text-align:left}
.enter-ragistration-login-quest{display:inline-block;cursor:pointer;margin-left:10px}
.enter-ragistration-form-input{display:inline-block;vertical-align:middle;padding-left:11px;position:relative;width:calc(100% - 115px)}
.enter-ragistration-form-block{margin-bottom:35px}
span.enter-ragistration-tel-error{display:block;font-size:12px;color:red;position:absolute;display:none}
.enter-ragistration-form-input input{width:100%;padding:10px;border:1px solid transparent;background:#e8f0fe}
.enter-ragistration-form-input input:focus{outline:none;border:1px solid #00b1dd}
span.enter-ragistration-password-error{font-size:12px;color:red;position:absolute;display:none}
.enter-ragistration-form-submit{text-align:left;margin:15px 0;display:block}
.enter-ragistration-form-submit input{display:inline-block;width:206px;padding:6px 0;border:none;background:#00b1dd;border-radius:5px;color:#fff;transition:.25s}
.enter-ragistration-form-submit input:hover{background:#09819e;transition:.25s}
.forget-password{text-align:left;font-size:14px;color:#029ec5;border-bottom:1px solid #029ec5;transition:.25s;display:inline-block;cursor:pointer}
.forget-password:hover{text-decoration:none;color:#000;border-bottom:1px solid #000;transition:.25s}
.enter-ragistration-form-conf{font-size:12px;margin-top:10px}
.cabinet-main-nav a img{vertical-align:middle;margin-right:11px;display:inline-block;height:27px}
.active-cabinet-page-akcii{position:absolute;right:25px;top:25px;background:#2cce00;padding:5px 10px;border-radius:5px;color:#fff}
.inactive-cabinet-page-akcii{position:absolute;right:25px;top:25px;background:#f5d500;padding:5px 10px;border-radius:5px;color:#000}
.page-profil-info-email span{color:#797979;font-weight:600;margin-right:5px}
.page-profil-info-address{margin-bottom:5px}
.page-profil-info-email{margin-bottom:5px}
.page-profil-info-email a{font-weight:700;color:#00b1dd}
#page-table,#page-knowlange-base{margin-top:100px;padding:30px 0 50px}
#table-section table{margin:auto;width:100%;background:#fff}
tr.table-section-first-line{background:#e9f2f7;font-weight:600}
#table-section table td{border:1px solid #d0d0d0;padding:10px 20px}
tr.table-section-first-line td{color:#525252}
.download-history-sale{text-align:left;margin-bottom:15px}
.download-history-sale img{height:20px;margin-right:15px;vertical-align:bottom}
.download-history-sale a{color:#00b1dd;font-weight:700}
.faq-section-block{padding:20px;padding-top:0;padding-bottom:20px;border-bottom:solid 1px #ebebeb;position:relative}
.faq-section-open{display:block;padding:0;-webkit-transition:all .2s linear 0;-webkit-transition-delay:.2s 0;transition:all .2s linear 0;cursor:pointer}
.faq-answer{font-size:14px;line-height:26px;margin-bottom:30px;text-align:justify;display:none;overflow:hidden}
.faq-section-question{padding-top:30px;padding-right:40px;padding-bottom:5px;font-size:18px;font-weight:700;color:#353131}
.faq-section-question span{color:#00a3cc;font-weight:900}
.faq-answer span{font-weight:900}
.knowlange-base-list{padding:20px 40px;margin:40px 0 60px;background:#fff;box-shadow:0 5px 50px #efefef}
.faq-section-block:last-child{border-bottom:none}
.no-base-section-text{font-size:20px;font-weight:700;margin-bottom:20px}
.no-base-section-link a{background:#ff1225;color:#fff;padding:10px 34px;display:inline-block;border-radius:50px}
section#no-base-section{margin-bottom:50px}
.no-base-section-link{margin-top:20px;display:block}
section#tehniq-page-table table{margin:40px auto;width:100%;background:#fff}
tr.first-line-table{font-weight:600}
section#tehniq-page-table table td{border:1px solid #d0d0d0;padding:10px 20px}
.form-new-tehniq-question-block label{width:190px;vertical-align:top;color:grey}
form.form-new-tehniq-question input[type="submit"]{background:#00b1dd;color:#fff;border:none!important;margin-bottom:20px;margin-top:40px;font-size:16px;padding:10px 20px;border-radius:5px;width:250px;transition:.25s}
form.form-new-tehniq-question input[type="submit"]:hover{background:#018bad;transition:.25s}
.form-new-tehniq-question-block select{padding:5px 10px}
.form-new-tehniq-question-block{margin-bottom:20px}
.form-new-tehniq-question-block input{padding:5px 10px;display:inline-block}
.form-new-tehniq-question-block p{font-size:20px;text-transform:uppercase}
.form-new-tehniq-question-dopblock{margin-bottom:25px}
.form-new-tehniq-question-block input:focus,.form-new-tehniq-question-block textarea:focus,.form-new-tehniq-question-block select:focus{outline:none;border:1px solid #00b1dd}
.form-new-tehniq-question-block input,.form-new-tehniq-question-block textarea,.form-new-tehniq-question-block select{border:1px solid #cacaca;border-radius:5px;color:#333}
.form-new-tehniq-question-block input:hover,.form-new-tehniq-question-block textarea:hover,.form-new-tehniq-question-block select:hover{color:#888;border-color:#888}
.form-new-tehniq-question-block textarea{resize:none}
.form-new-tehniq-question-dopblock input.new-tehniq-question-file{border:none;display:inline-block}
form.form-new-tehniq-question{margin:40px 0}
.form-new-tehniq-question-dopblock input.new-tehniq-question-file:focus{outline:none}
section#tehniq-page-table{padding:40px;background:#fff;margin-bottom:55px;box-shadow:0 2px 15px rgba(140,149,156,.1)}
section#new-tehniq-question{padding:40px;background:#fff;box-shadow:0 2px 15px rgba(140,149,156,.1)}
section#table-section{padding:40px;background:#fff;box-shadow:0 2px 15px rgba(140,149,156,.1)}
tr.first-line-table td{border-top:0!important;border-right:none!important;border-left:none!important;color:grey}
.form-new-tehniq-question-dopblock-file-download{display:inline-block}
.form-new-tehniq-question-dopblock-file-download .btn-tertiary{color:#555;padding:0;line-height:40px;width:300px;margin:auto;display:block;border:1px solid #cacaca}
.form-new-tehniq-question-dopblock-file-download .btn-tertiary:hover,.form-new-tehniq-question-dopblock-file-download .btn-tertiary:focus{color:#888;border-color:#888}
.form-new-tehniq-question-dopblock-file-download .input-file{width:.1px;height:.1px;opacity:0;overflow:hidden;position:absolute;z-index:-1}
.form-new-tehniq-question-dopblock-file-download .input-file + .js-labelFile{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding:0 10px;cursor:pointer}
.form-new-tehniq-question-dopblock-file-download .input-file + .js-labelFile .icon:before{content:"\f093"}
.form-new-tehniq-question-dopblock-file-download .input-file + .js-labelFile.has-file .icon:before{content:"\f00c";color:#5AAC7B}
main#inline-page{margin-top:95px;padding-top:50px}
.big-banner-page{width:100%;display:block;position:relative}
.big-banner-page img{width:100%}
main#inline-page article{padding:20px 0}
.mini-image-text{padding:25px 0}
.mini-image-text img{max-width:100%}
.inline-page-text ul{margin-left:20px}
.breadcrumb li{display:inline-block}
.breadcrumb li a{color:#686b6d}
.breadcrumb>li+li:before{margin:0 15px;content:"";width:1px;height:15px;background:#686b6d;vertical-align:middle;display:inline-block}
.banner-main-text-block.bussiness-white-text .breadcrumb>li+li:before{background:#fff}
main#inline-page article h1{margin-bottom:30px}
.breadcrumb li.active{color:#000}
section#enter-ragistration-section .center{position:absolute;right:0;left:0;margin:auto;top:0;bottom:0}
.about-us-cabinet{position:absolute;bottom:25px;left:0;right:0;margin:auto}
.about-us-cabinet-icon{height:50px;width:50px;background:#fff;border-radius:50px;padding:10px;display:inline-block;margin-right:15px;vertical-align:middle}
.about-us-cabinet-icon img{width:100%}
.about-us-cabinet-text{display:inline-block;color:#fff;width:calc(100% - 70px);vertical-align:middle}
.about-us-cabinet-block{display:inline-block;width:19%}
.enter-ragistration-checkbox{text-align:left;margin-top:-15px;margin-bottom:10px}
.enter-ragistration-checkbox label{font-weight:400;font-size:14px}
.label-check__input:checked + .label-check__new-input{background:url(/cabinet/icon/check.png) no-repeat center;animation:animation-checkbox .4s ease-in-out;background-size:18px}
@keyframes animation-checkbox {
0%{transform:scale(0.8)}
70%{transform:scale(1.2)}
100%{transform:scale(1)}
}
.label-check{cursor:pointer;margin-left:35px;position:relative}
.label-check__input{display:none}
.label-check__new-input{position:absolute;left:-30px;top:0;width:20px;height:20px;border:1px solid #cfcfd1;border-radius:3px}
img.enter-ragistration-login-quest{margin-right:10px;vertical-align:middle}
.enter-ragistration-login-information{position:absolute;left:0;top:-25px;background:#dedede;padding:10px;width:100%;font-size:12px;text-align:justify;opacity:0;transition:.25s;font-weight:400}
.enter-ragistration-login-quest:hover .enter-ragistration-login-information{opacity:1;transition:.25s}
.balans-section-block-money-arrows{display:inline-block;vertical-align:middle;margin-left:15px}
span.balans-section-time{margin-left:10px}
.balans-section-block-money-arrows img{height:40px;vertical-align:initial}
.balans-section-block-money-arrows{transition:.25s;transform:scale(1)}
.balans-section-block-money-arrows:hover{transition:.25s;transform:scale(1.1)}
.balans-section-pay-info{text-align:center;color:#6f6f6f;margin:15px 0}
.balans-section-pay-balans{text-align:center;border-top:1px solid #d0d0d0;padding-top:15px}
.balans-section-pay-balans img{height:20px;vertical-align:middle;margin-right:8px}
.tarif-card-speed-title{text-transform:uppercase}
.tarif-card-speed{margin-top:-25px!important;padding-top:0}
.tarif-card-price{margin-top:-25px!important;padding-top:0}
.cabinet-page-my-tarif-no-active-title{font-size:29px;display:inline-block;vertical-align:middle;margin-right:20px}
.cabinet-page-my-tarif-no-active img{vertical-align:middle;height:25px;display:inline-block}
.cabinet-page-my-tarif-active-info{vertical-align:middle;display:inline-block;position:relative}
.cabinet-page-my-tarif-active-info-hidden{position:absolute;top:-10px;left:50px;width:250px;font-size:14px;background:#00b1dd;border-radius:5px;text-align:center;color:#fff;padding:5px 0;opacity:0;transition:.25s;z-index:1}
.cabinet-page-my-tarif-active-info:hover .cabinet-page-my-tarif-active-info-hidden{opacity:1;transition:.25s}
.cabinet-page-my-tarif-active-tarif{background:#ff1225;width:200px;text-align:center;padding:10px;border-radius:5px;margin-top:25px;color:#fff;cursor:pointer;transition:.25s}
.cabinet-page-my-tarif-active-tarif:hover{background:#d01423;transition:.25s}
.cabinet-page-my-tarif-ip-text{margin-bottom:15px;font-size:18px}
.cabinet-page-my-tarif-ip-text:last-child{margin-bottom:0}
footer.person-cabinet{background:#191818;padding:40px 0 25px}
.footer-top-tel a{color:#fff;text-decoration:none;font-size:26px;margin-right:30px;transition:.25s}
.footer-top-tel a:hover{color:#cecece!important;text-decoration:none;transition:.25s}
.footer-top{margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #2b2b2b;margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #2b2b2b}
.mini-footer-block a,.mini-footer-block p{color:#fff;font-size:14px}
.mini-footer-block.col-md-4{padding-right:0;padding-left:0}
.mini-footer-block:nth-child(2){text-align:center}
.mini-footer-block:nth-child(3){text-align:right}
.footer-social-block img{height:32px;padding:6px;border:1px solid #fff;border-radius:5px;transition:.25s}
.footer-social-block.instagram-footer:hover img{background:radial-gradient(circle at 33% 100%,#FED373 4%,#F15245 30%,#D92E7F 62%,#9B36B7 85%,#515ECF);transition:.25s}
.footer-social-block{display:inline-block;margin:0 10px;overflow:hidden;border-radius:5px;transition:.25s}
.footer-social-block.telegram-footer:hover img{background:#37aee3}
.footer-social-block.whatsapp-footer:hover img{background:#3b9223}
input#search-from-date{width:90px}
input#search-to-date{width:90px}
.download-history-data-block{display:inline-block;margin:0 10px}
.download-history-data-block input[type="submit"]{background:#00b1dd;padding:5px 0;width:100px;border:0;border-radius:50px;color:#fff;transition:.25s}
.download-history-data-block input[type="submit"]:hover{transition:.25s;background:#0f84a0}
.download-history-data-block input[type="submit"]:focus{outline:none}
#search{display:inline-block}
.download-history-sale-block{display:inline-block}
.download-history-data-block label{font-weight:400!important;margin-right:5px}
.forget-password-input-block.form-num-dogovor input:focus{border:1px solid #00b1dd;outline:none}
.forget-password-radio{margin:16px 0;display:block;cursor:pointer}
.forget-password-radio input{display:none}
.forget-password-radio input + span{font-weight:400;line-height:22px;height:22px;padding-left:22px;display:block;position:relative}
.forget-password-radio input + span:not(:empty){padding-left:30px}
.forget-password-radio input + span:before,.forget-password-radio input + span:after{content:'';width:22px;height:22px;display:block;border-radius:50%;left:0;top:0;position:absolute}
.forget-password-radio input + span:before{background:#D1D7E3;transition:background .2s ease,-webkit-transform .4s cubic-bezier(0.175,0.885,0.32,2);transition:background .2s ease,transform .4s cubic-bezier(0.175,0.885,0.32,2);transition:background .2s ease,transform .4s cubic-bezier(0.175,0.885,0.32,2),-webkit-transform .4s cubic-bezier(0.175,0.885,0.32,2)}
.forget-password-radio input + span:after{background:#fff;-webkit-transform:scale(0.78);transform:scale(0.78);transition:-webkit-transform .6s cubic-bezier(0.175,0.885,0.32,1.4);transition:transform .6s cubic-bezier(0.175,0.885,0.32,1.4);transition:transform .6s cubic-bezier(0.175,0.885,0.32,1.4),-webkit-transform .6s cubic-bezier(0.175,0.885,0.32,1.4)}
.forget-password-radio input:checked + span:before{-webkit-transform:scale(1.04);transform:scale(1.04);background:#00b1dd}
.forget-password-radio input:checked + span:after{-webkit-transform:scale(0.4);transform:scale(0.4);transition:-webkit-transform .3s ease;transition:transform .3s ease;transition:transform .3s ease,-webkit-transform .3s ease}
.forget-password-radio:hover input + span:before{-webkit-transform:scale(0.92);transform:scale(0.92)}
.forget-password-radio:hover input + span:after{-webkit-transform:scale(0.74);transform:scale(0.74)}
.forget-password-radio:hover input:checked + span:after{-webkit-transform:scale(0.4);transform:scale(0.4)}
.forget-password-form{position:absolute;top:0;bottom:0;width:100%;right:0;left:0;margin:auto;z-index:1;display:none}
.forget-password-back{position:absolute;top:0;bottom:0;width:100%;right:0;left:0;margin:auto;z-index:1;background:#00000070}
form#modal-form-forget-password{position:absolute;top:30%;background:#fff;width:500px;right:0;padding:40px;left:0;margin:auto;z-index:1;box-shadow:0 7px 40px #3e3b3b}
.forget-password-text{font-size:14px;text-align:center;margin-bottom:15px}
.forget-password-input-block{margin:10px 0}
.forget-password-input-block.form-num-dogovor{text-align:center}
.forget-password-input-block.form-num-dogovor label{display:block}
.forget-password-input-block.form-num-dogovor input{background:#efefef;border:1px solid #d4d4d4;padding:6px 10px}
.forget-password-input-block.form-pas-radiob label{display:inline-block;margin:10px}
.forget-password-input-block.form-pas-radiob{text-align:center}
.forget-password-submit{text-align:center}
.forget-password-submit input{padding:10px 20px;background:#00b1dd;border:none;color:#fff;font-size:14px;border-radius:5px;transition:.25s}
.forget-password-submit input:hover{background:#09819e;transition:.25s}
.forget-password-submit{margin-top:20px}
.close-form{right:15px;position:absolute;top:15px;cursor:pointer}
.close-form img{width:20px;height:auto}
.close-form:hover img{transform:rotate(90deg);transition:.5s}
.main-tarif-card-section{background:#fff;padding:40px;box-shadow:0 10px 30px #e8e8e8;margin-bottom:50px}
.main-tarif-card-title{font-size:40px}
.main-tarif-card-pay{padding:15px 0}
.main-tarif-card-pay span{font-size:40px;font-weight:700;color:#00b1dd;vertical-align:baseline;margin-left:10px;margin-right:10px}
.main-tarif-card-dop-list-block{border-top:1px solid #bfbfbf;border-bottom:1px solid #bfbfbf;margin:20px 0;padding:25px 0}
.main-tarif-card-dop-list-connect{cursor:pointer;background:#00b1dd;width:150px;padding:10px 0;text-align:center;color:#fff;border-radius:5px;float:right;transition:.25s}
.main-tarif-card-dop-list-connect:hover{background:#09819e}
.main-tarif-card-dop-list-disconnect{cursor:pointer;background:red;width:150px;padding:10px 0;text-align:center;color:#fff;border-radius:5px;float:right;transition:.25s}
.main-tarif-card-dop-list-disconnect:hover{background:#bf0a0a}
.main-tarif-card-block{margin-bottom:40px}
.cabinet-page-my-tarif-href-dop-paket a{background:#2b9a0d;width:235px;text-align:center;margin-top:30px;border-radius:5px;padding:10px 0;display:block;color:#fff;float:right;transition:.25s}
.cabinet-page-my-tarif-href-dop-paket a:hover{background:#1f6f09;transition:.25s;color:#fff!important;text-decoration:none}
.cabinet-page-my-tarif-href-dop-paket{display:inline-block;width:50%;vertical-align:middle}
.cabinet-page-my-tarif-href{display:inline-block;width:49%;vertical-align:middle}
.page-knowlange-base-slider-block img{width:100%}
.page-knowlange-base-slider-sec ul.slick-dots{bottom:15px}
.page-knowlange-base-slider-sec .slick-dots li button:before{display:none}
.page-knowlange-base-slider-sec .slick-dots li button{border-radius:50px;background:#fff;width:10px;height:10px}
.page-knowlange-base-slider-sec li.slick-active button{background:#00b1dd}
section.page-knowlange-base-chat.center{background:#fff;box-shadow:0 5px 30px #b5b5b5;margin:50px auto;padding:30px}
.page-knowlange-base-chat-image{display:inline-block;width:64px;vertical-align:middle}
.page-knowlange-base-chat-text{display:inline-block;vertical-align:middle;width:calc(100% - 290px);margin-left:15px}
.page-knowlange-base-chat-button{display:inline-block;width:200px;background:#ff1225;text-align:center;padding:10px 0;border-radius:5px;color:#fff;vertical-align:middle;cursor:pointer;transition:.25s}
.page-knowlange-base-chat-button:hover{background:#d60415;transition:.25s}
.page-knowlange-base-chat-image img{width:55px}
.faq-section-open::before{content:'';height:8px;width:8px;display:block;border:2px solid #afaeae;border-right-width:0;border-top-width:0;-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);position:absolute;right:20px;top:35px}
.enter-ragistration-login-quest img{height:20px}
.faq-section-block.active_block .faq-section-open::before{border:2px solid #afaeae;border-left-width:0;border-bottom-width:0;top:35px}
section.page-knowlange-base-faq{padding:40px;border:1px solid #b2c8ec;margin:40px auto 60px;background:#fff}
.faq-answer ul{margin-left:20px}
#block-calendar,#unlock-calendar,#connect-calendar{position:fixed;top:0;bottom:0;right:0;left:0;z-index:11111;display:none}
.back-form{position:absolute;background:#4847478a;top:0;bottom:0;right:0;left:0;z-index:1}
form.modal-calendar{width:400px;text-align:center;position:absolute;top:35%;right:0;left:0;margin:auto;background:#fff;padding:40px 20px;box-shadow:0 5px 30px #6b6b6b;transition:.25s;z-index:2}
.modal-calendar-button input{border:none;padding:10px 20px;border-radius:5px;margin-top:20px;background:#434444;color:#fff}
.change-tarif-main-title-bread{margin-bottom:25px}
.cabinet-page-my-tarif-ip-text span{font-size:30px;font-weight:700}
.mini-footer-block a:hover{color:#b3b3b3!important;text-decoration:none}
.my-message-block{padding:20px 20px 10px;border:1px solid #b3b3b3;margin-bottom:20px;background:#fff}
section#my-message h1{margin-bottom:40px}
section#my-message{min-height:60vh}
@media screen and (max-width: 1450px) {
section.page-knowlange-base-chat.center{margin:50px 60px}
section.page-knowlange-base-faq{margin:40px 60px}
.main-tarif-card-section{margin-top:20px!important}
.cabinet-page-my-tarif-active-tarif{font-size:14px;width:130px}
.cabinet-page-my-tarif-href a{font-size:14px;width:150px}
.cabinet-page-my-tarif-href-dop-paket a{font-size:14px;width:200px}
.cabinet-page-my-tarif-href{width:auto;float:left}
.cabinet-page-my-tarif-href-dop-paket{float:right;width:auto}
.center{margin:0 60px}
section#enter-ragistration-section .center{position:absolute;right:60px;left:60px;margin:auto;top:0;bottom:0}
.enter-ragistration-block{position:absolute;top:30%;background:#fff;width:550px;padding:30px;box-shadow:0 0 8px rgba(0,0,0,0.25)}
.enter-ragistration-form-block{margin-bottom:25px}
.enter-ragistration-form-submit{margin:10px 0;display:block}
.enter-ragistration-form-submit input{font-size:14px}
.enter-ragistration-block{top:25%}
}
@media screen and (max-width: 1220px) {
.tarif-card-speed-title{font-size:16px}
.tarif-card-price span,.tarif-card-speed span{font-size:30px}
.tarif-card-description{font-size:14px}
.cabinet-page-my-tarif-title{font-size:18px}
.cabinet-page-my-tarif-speed,.cabinet-page-my-tarif-money,.cabinet-page-my-tarif-ip-text{font-size:16px}
.cabinet-page-my-tarif-no-active-title{font-size:16px}
.cabinet-page-my-tarif-active-info-hidden{top:30px;left:0}
.cabinet-page-my-tarif-money span,.cabinet-page-my-tarif-speed span,.cabinet-page-my-tarif-ip-text span{font-size:24px}
.cabinet-page-my-tarif-block h3{font-size:22px}
.about-us-cabinet-text{font-size:14px}
}
@media screen and (max-width: 1180px) {
section#cabinet-page-my-tarif .col-md-6{width:100%}
.cabinet-main-nav{display:none}
div#mobile-menu{margin-top:10px;box-sizing:border-box;width:70px;height:70px;color:var(--colorWhite);display:flex;position:relative;float:right;z-index:9998}
#mobile-menu button{border:none;background-color:transparent;padding:0;font-family:inherit}
#mobile-menu .button{cursor:pointer;color:var(--colorWhite)}
.menu{height:0;transform:translate3d(0,-100%,0);opacity:0;position:fixed;top:10%;display:block;left:20px}
.menu__list{width:100%;display:none;padding-top:30px;overflow-y:auto;-webkit-overflow-scrolling:touch}
.menu__group{padding:.5rem 3rem;font-size:3.2rem;font-weight:700;text-transform:uppercase}
.menu__group_active{background-color:var(--colorWhite);color:var(--colorBlack)}
.menu__item{padding:8px 25px;display:block}
.hamburger{position:relative;line-height:1}
.hamburger:before{content:"";width:65px;height:65px;background-color:var(--colorMain);border-radius:50%;position:absolute}
.hamburger__button{width:1.4em;height:1em;font-size:20px;position:relative;text-indent:-9999px;z-index:2;margin-top:24px;margin-left:19px}
.mobile-menu-first ul ul li a{font-weight:400!important;font-size:14px}
.hamburger__button:before,.hamburger__button:after,.hamburger__label{width:100%;height:20%;border-radius:5px;background-color:currentColor;position:absolute;left:0}
.hamburger__button:before,.hamburger__button:after{content:""}
.hamburger__button:before{top:0}
.hamburger__button:after{bottom:0}
.hamburger__button:focus{outline:none}
.hamburger__label{margin-top:-.1em;top:50%}
.js-menu_activated{overflow:hidden}
.js-menu_activated .menu{height:100%;transform:translate3d(0,0,0);opacity:1;z-index:10000}
.js-menu_activated .hamburger:before{width:100vh;height:100vh;transform:translate3d(-50vh,-50vh,0) scale(5)}
.js-menu_activated .menu__list{display:block}
.js-menu_activated .hamburger__button:before{transform:translate3d(0,-50%,0) rotate(45deg);top:50%}
.js-menu_activated .hamburger__button:after{transform:translate3d(0,-50%,0) rotate(135deg);top:50%}
.js-menu_activated .hamburger__label{transform:rotate(-45deg) translate3d(-5.71429px,-6px,0);opacity:0}
.menu{transition:opacity .2s ease-out}
.js-menu_activated .menu{will-change:opacity;transition-duration:.2s;transition-delay:.3s}
.hamburger:before{will-change:width,height;transition:transform .3s cubic-bezier(0.04,-0.1,0.29,0.98),width .3s cubic-bezier(0.04,-0.1,0.29,0.98),height .3s cubic-bezier(0.04,-0.1,0.29,0.98)}
.js-menu_activated .hamburger:before{transition-duration:1s}
.hamburger__button:before,.hamburger__button:after{transition-property:transform}
.hamburger__button:before,.hamburger__button:after,.hamburger__label{transition-timing-function:ease;transition-duration:.15s}
.hamburger__label{transition-property:transform,opacity}
.js-menu_activated .hamburger:before{background-color:var(--colorMainDark)}
:root{
    --colorBlack:#222;
    --colorWhite:#fff;
    --colorGray:#f0f0f0;
    --colorMain:#00b1dd;
    --colorMainLight:#8491d8;
    --colorMainDark:#40445d}
div#mobile-menu{margin-top:10px;box-sizing:border-box;width:70px;height:70px;color:var(--colorWhite);display:flex;position:relative;float:right;z-index:9998;margin-left:50px}
div#mobile-menu li a{color:#fff;font-size:18px;margin-bottom:10px;display:block}
.mobile-menu-second{border-top:1px solid #fff;padding-top:20px;margin-top:20px}
.mobile-menu-second .cabinet-account-number{color:#fff}
.mobile-menu-second .cabinet-person-cash-plus img{border:2px solid #fff}
}
@media screen and (max-width: 1100px) {
.page-knowlange-base-chat-image img,.page-knowlange-base-chat-image{width:35px}
.page-knowlange-base-chat-text{font-size:14px;padding-right:10px;width:calc(100% - 260px)}
section#tarif-card-section{padding-bottom:0}
section#table-section{overflow:scroll}
main#change-tarif-main{margin-top:130px}
section#page-profil-info h1,section#table-section h1,section#tarif-card-section h1,.change-tarif-main-title-bread h1,section#my-message h1,main#inline-page h1{font-size:28px}
.download-history-sale-block{font-size:14px}
.breadcrumb li a,.breadcrumb li.active{font-size:14px}
.tarif-card-speed-info{font-size:14px}
.page-profil-info-block{margin-top:20px}
.page-profil-info-image img{height:40px}
.tarif-card-list-block{padding-top:20px!important}
.block-account,.unlock-account,.connect-account,table.page-profil-table td{font-size:14px}
section#cabinet-page-akcii h2{font-size:21px;margin:20px 0}
.tarif-card-title h2{margin:0}
.tarif-card-button a{font-size:14px}
section#change-password h2,.tarif-card-title h2,.main-tarif-card-title,section#tarif-card-section h2,section.page-knowlange-base-faq h2{font-size:21px}
section.page-knowlange-base-faq h2{margin-left:20px}
.main-tarif-card-pay span{font-size:30px}
.page-profil-info-blockirovka{font-size:21px}
.page-profil-info-blockirovka img{height:20px;margin-right:10px}
.about-us-cabinet-block{display:inline-block;width:32%;text-align:left;margin:10px 0}
.about-us-cabinet{text-align:center}
.balans-section-pay input{width:200px}
}
@media screen and (max-width: 991px) {
.page-knowlange-base-chat-text h3{font-size:20px}
.tarif-card-speed,.tarif-card-price{margin-top:0!important;text-align:left;padding-left:0!important;margin-bottom:20px}
#table-section table td{font-size:14px}
section#cabinet-page-akcii .col-md-6:nth-child(2){padding-right:0;border-left:none;padding-left:0}
section#cabinet-page-akcii .col-md-6:nth-child(1){padding-left:0;padding-right:0}
.balans-section-block{padding-right:0!important;padding-left:0!important;margin:0 0 40px}
section#balans-section{padding:30px 0 10px}
}
@media screen and (max-width: 900px) {
section.page-knowlange-base-chat.center{margin:30px}
section.page-knowlange-base-faq{margin:40px 30px}
table.page-profil-table td{padding:10px 5px}
section.page-knowlange-base-faq{padding:15px}
section#enter-ragistration-section .center{right:30px;left:30px}
.center{margin:0 30px}
.about-us-cabinet-icon{height:45px;width:45px}
.hamburger:before{width:50px;height:50px}
.hamburger__button{height:20px;font-size:18px;margin-top:16px;margin-left:13px}
.hamburger__button:before,.hamburger__button:after,.hamburger__label{height:13%}
div#mobile-menu{margin-top:17px;width:50px;height:50px}
}
@media screen and (max-width: 800px) {
.faq-section-question{font-size:16px;font-weight:600}
.page-knowlange-base-chat-button{font-size:14px;width:110px}
section.page-knowlange-base-chat{padding:15px}
.page-knowlange-base-chat-text{width:calc(100% - 170px)}
.page-profil-info-blockirovka{font-size:21px;margin-left:20px;margin-bottom:20px}
section#page-profil-account{padding:20px 0}
.cabinet-person .cabinet-person-ball-plus,.cabinet-person .cabinet-person-cash-plus,.cabinet-person .cabinet-exit{display:none}
nav.cabinet-header-nav{display:none}
div#mobile-menu{margin-left:20px}
}
@media screen and (max-width: 700px) {
.page-knowlange-base-chat-text{width:calc(100% - 55px)}
.page-knowlange-base-chat-button{margin-top:10px}
.inline-page-text{font-size:14px}
.main-tarif-card-dop-list-connect,.main-tarif-card-dop-list-disconnect{font-size:14px;width:115px}
#search{display:block;margin-top:10px}
section#table-section{padding:20px}
.tarif-card-block{padding:25px 20px}
section#table-section h1{margin-top:0}
.download-history-data-block input[type="submit"]{width:auto;padding:5px 15px;font-size:14px}
section#change-password{padding:25px 20px}
.correct-mini-text{font-size:14px}
.page-profil-info-name{font-size:16px}
.page-profil-info-text{font-size:14px;margin-left:20px;padding-left:20px}
section#page-profil-account{overflow:scroll}
.block-account,.unlock-account,.connect-account{padding:10px}
.mini-footer-block:nth-child(2){text-align:center;margin:15px 0}
.mini-footer-block.col-md-4{text-align:center}
.footer-top-tel a{font-size:18px}
.cabinet-page-my-tarif-active-info-hidden{top:30px;left:auto;right:0}
.balans-section-block-money{font-size:30px}
.balans-section-block-money-arrows img{height:30px}
section#cabinet-page-my-tarif{padding:25px 20px}
section#cabinet-page-my-tarif h2,.balans-section-field h2,.balans-section-field h2{font-size:23px}
.cabinet-page-my-tarif-href,.cabinet-page-my-tarif-href-dop-paket{width:100%;float:none}
.cabinet-page-my-tarif-href-dop-paket a{float:none}
.about-us-cabinet-block{width:48%}
.about-us-cabinet{position:relative;text-align:left}
.enter-ragistration-block{position:relative;margin:120px auto 50px;width:100%}
section#enter-ragistration-section .center{position:relative;right:0;left:0;margin:0 30px}
}
@media screen and (max-width: 500px) {
.page-knowlange-base-chat-text h3{font-size:17px}
section.page-knowlange-base-slider-sec{display:none}
.faq-section-question{font-size:14px;font-weight:500}
.page-knowlange-base-chat-image{display:none}
.page-knowlange-base-chat-text{width:100%;padding-right:0;margin-left:0}
.main-tarif-card-pay span{font-size:20px}
section#tarif-card-section{padding-bottom:0}
.main-tarif-card-dop-list-connect{margin-top:15px}
.main-tarif-card-block{font-size:14px}
.main-tarif-card-dop-list h3{font-size:20px}
section#page-profil-info h1,section#table-section h1,section#tarif-card-section h1,.change-tarif-main-title-bread h1,section#my-message h1,main#inline-page h1{font-size:21px}
.main-tarif-card-title{font-size:18px}
.main-tarif-card-pay{padding:5px 0}
.main-tarif-card-block{margin-bottom:20px}
.main-tarif-card-section{padding:20px}
.download-history-data-block label{font-size:14px}
section#page-profil-info{padding:25px 20px}
form#change-password-form input{width:100%;font-size:14px}
form#change-password-form span{margin:15px 0}
form#change-password-form label{font-size:14px}
.change-password-button input{margin-top:10px}
.page-profil-info-image{display:none}
.page-profil-info-text{border-left:none;margin-left:0;padding-left:0}
.footer-top-tel a{font-size:18px;display:block;text-align:center;margin-right:0}
.cabinet-page-akcii-button{position:absolute;bottom:10px;left:10px;width:auto;padding:5px 7px;font-size:14px}
.balans-section-field{padding:25px 20px;height:auto!important}
.balans-section-pay button{padding:0 15px;margin-left:15px}
.balans-section-pay input{font-size:16px;width:180px}
.cabinet-page-my-tarif-block h3{font-size:18px}
.cabinet-page-my-tarif-list{padding:25px 20px}
.about-us-cabinet-block{width:100%}
main#enter-registration{position:relative;height:auto;margin-top:-120px}
section#enter-ragistration-section{padding-top:100px;position:relative}
header#enter-registration-header img{height:80px}
.enter-ragistration-form-label{width:44px;display:block;vertical-align:middle;font-size:14px;text-align:left}
.enter-ragistration-form-input{padding-left:0;width:calc(100% - 35px)}
header#enter-registration-header img{height:60px;margin-top:10px}
.cabinet-header-logo{width:85px}
.cabinet-person-icon img{width:17px}
.cabinet-person-se::before,.cabinet-person-se::after{display:none}
.mobile-menu-second .cabinet-person-se{display:block}
.mobile-menu-second .cabinet-person-icon{display:none}
.menu{top:5px}
section#cabinet-page-my-tarif h2,.balans-section-field h2,.balans-section-field h2{font-size:19px}
.my-message-block{font-size:14px}
section#my-message h1{margin-bottom:20px}
}
@media screen and (max-width: 400px) {
.cabinet-page-my-tarif-tuning img{height:20px}
.download-history-data-block{display:block;margin:10px 0}
.download-history-data-block label{font-size:14px;width:25px}
.cabinet-page-my-tarif-tuning{margin-left:10px;float:left}
section#cabinet-page-my-tarif h2{width:calc(100% - 45px);float:right}
.balans-section-pay input{width:100%}
.balans-section-pay button{width:100%;margin-left:0;margin-top:15px}
.balans-section-block-date,.balans-section-pay-info,.balans-section-pay-balans,.balans-section-block-history{font-size:14px}
}
@media screen and (max-width: 360px) {
#page-table,#page-knowlange-base{margin-top:75px}
.my-message-block{padding:20px 10px 10px}
main#inline-page{margin-top:75px;padding-top:30px}
main#page-profil{margin-top:110px}
main#change-tarif-main{margin-top:110px}
.tarif-card-list-block{padding-top:20px}
section#balans-section{margin-top:75px}
section#cabinet-page-my-tarif{padding:25px 0}
.cabinet-page-my-tarif-href-dop-paket a,.cabinet-page-my-tarif-href a{width:100%;font-size:13px}
.enter-ragistration-login-information{top:-50px}
.enter-ragistration-form-submit input{width:100%}
.enter-ragistration-login-quest img{height:14px}
.enter-ragistration-form-input{width:calc(100% - 29px)}
.enter-ragistration-block{padding:20px}
.cabinet-person{display:none}
}